@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Weekend Window</h1>
        <h3 class="display-5">Always looking out at your weekend!</h3>
        <div><img src="images/wwlogov1.png" alt="Weekend Window"></div>
    </div>
