@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Weekend Window - We always look out at your weekend!</h1>
        <div><img src="images/wwlogov1.png" alt="Weekend Window"></div>
    </div>
