@model WeekendWindow.Models.WWindow

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout-Viewers.cshtml";
}

<h1>Create</h1>

<h4>WWindow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WeekendLocationId" class="control-label">Weekend Location</label>
                <select asp-for="WeekendLocationId" class ="form-control" asp-items="ViewBag.WeekendLocationId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="SaturdayDate" class="control-label"></label>
                <input asp-for="SaturdayDate" class="form-control" />
                <span asp-validation-for="SaturdayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SundayDate" class="control-label"></label>
                <input asp-for="SundayDate" class="form-control" />
                <span asp-validation-for="SundayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaturdayWeatherId" class="control-label"></label>
                <input asp-for="SaturdayWeatherId" class="form-control" />
                <span asp-validation-for="SaturdayWeatherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SundayWeatherId" class="control-label"></label>
                <input asp-for="SundayWeatherId" class="form-control" />
                <span asp-validation-for="SundayWeatherId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="WeekendAttitudeId" class="control-label">Weekend Attitude</label>
                <select asp-for="WeekendAttitudeId" class="form-control" asp-items="ViewBag.WeekendAttitudeId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WantLodging" /> Need Lodging
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TravelRadiusId" class="control-label">Travel Radius</label>
                <select asp-for="TravelRadiusId" class="form-control" asp-items="ViewBag.TravelRadiusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
