@model WeekendWindow.Models.WWindow

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WWindow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WWindowId" />
            <div class="form-group">
                <label asp-for="WWViewerId" class="control-label"></label>
                <select asp-for="WWViewerId" class="form-control" asp-items="ViewBag.WWViewerId"></select>
                <span asp-validation-for="WWViewerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekendLocationId" class="control-label"></label>
                <select asp-for="WeekendLocationId" class="form-control" asp-items="ViewBag.WeekendLocationId"></select>
                <span asp-validation-for="WeekendLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaturdayDate" class="control-label"></label>
                <input asp-for="SaturdayDate" class="form-control" />
                <span asp-validation-for="SaturdayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SundayDate" class="control-label"></label>
                <input asp-for="SundayDate" class="form-control" />
                <span asp-validation-for="SundayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaturdayWeatherId" class="control-label"></label>
                <input asp-for="SaturdayWeatherId" class="form-control" />
                <span asp-validation-for="SaturdayWeatherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SundayWeatherId" class="control-label"></label>
                <input asp-for="SundayWeatherId" class="form-control" />
                <span asp-validation-for="SundayWeatherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekendAttitudeId" class="control-label"></label>
                <input asp-for="WeekendAttitudeId" class="form-control" />
                <span asp-validation-for="WeekendAttitudeId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WantLodging" /> @Html.DisplayNameFor(model => model.WantLodging)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="WeekendLodgingId" class="control-label"></label>
                <input asp-for="WeekendLodgingId" class="form-control" />
                <span asp-validation-for="WeekendLodgingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelRadiusId" class="control-label"></label>
                <input asp-for="TravelRadiusId" class="form-control" />
                <span asp-validation-for="TravelRadiusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
