@model WeekendWindow.ViewModels.MapViewModel
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<form asp-action="AttitudeSelection">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class=" row">
        <div class="col-md-6">
            <div class="form-group" id="Attitudes">
                <select asp-for="SelectedAttitude.AttitudeId" class="form-control" asp-items="@Model.Attitudes"></select>
            </div>
        </div>
        <span asp-validation-for="SelectedAttitude" class="text-danger"></span>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</form>

